/* .image { 
  position: relative; 
  
  left: 0px;
  width: 100%;
  top: 0px;
  border: 3px solid #73AD21;

}

p { 
  position: relative;
  top: 50%;
  width: 100%;
  text-align: right;
  padding-right: 10px;
  float: bottom;
}

p span { 
  color: white; 
  font: bold 24px Sans-Serif; 
  letter-spacing: -1px;  
  background: rgba(0, 0, 0, 0.4);
  text-align: right;

} */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  

}
.primary {
  align-content: center;
  background: url("http://lorempixel.com/400/400/sports/2") no-repeat; 
  background-size: cover;
  height: 40vh;
  position: relative;
  border: 1px solid;
  margin-bottom: 10vh;
}
.primary p {
  text-align: center;
    margin: auto;
    position: absolute;
    /* top: 50%; */
    bottom: 50%;
    margin: 0 auto;
    left: 50%;
}

.secondary {
  display: flex;
  border: 1px solid blue;
}
.secondary__text {
  margin: 10px 5% 10px 5%;
  width: 40%;
}
.secondary__text p {
  text-align: center;
}
.secondary__image {
  margin: 0;
  width: 50%;
}